.banner-form {
    height: 50%;
    background: url('../assets/banner-form360.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: normal;

}

form {
    display: flex;
    flex-direction: column;
}

.formulario__titulo {
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1em auto;
    color: white;
    margin-bottom: 1em;
}

.formulario {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 0.3em;
    color: white;
}

#nome-completo, #email, #nascimento, #tipo-ingresso {
    width: 100%;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #444444;
    margin-bottom: 1em;
}

.botao-avancar {
    align-self: center;
    background-image: url('../assets/seta-avancar.svg');
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: center;
    width: 164px;
    height: 56px;
    background-color: #4650BD;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    color: white;
    padding: 0 1em;
    font-family: 'Raleway';
    margin-top: 1em;

}

.erro-nome, .erro-nascimento, .erro-email {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: red;
    width: 100%;
    margin-bottom: 1em;
}

@media screen and (min-width: 720px) {

    .banner-form {
        background: url('../assets/banner-form1440.svg');
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: normal;
    }

    form {
        padding: 0 2em;
    }

    #nascimento {
        width: 70%;
        margin-right: 30%;
    }

    .formulario__titulo {
        font-size: 42px;

    }
}

@media screen and (min-width: 1440px) {
    .banner-form {
        background: url('../assets/banner-form1440.svg');
        height: 400px;
    }

    form {
        width: 60%;
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .container__tipo-ingresso, .container__nascimento {
        width: 48%;
    }

    #nascimento {
        width: 100%;
    }

    .botao-avancar {
        margin: auto;
    }

}